{% extends "master.html" %}
{%block title %}
Crear Estudiantes
{% endblock %}

{% block content %}
<section class="section-padding section-bg">
  <div class="container">
      <div class="row">

          <div class="col-lg-12 col-12">
              <h3 class="mb-4 pb-2">Crear Estudiante</h3>
          </div>

          <div class="col-lg-6 col-12">
            <form method="post" class="custom-form contact-form">
              {% csrf_token %}
              <div class="row">
            
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-floating mb-3">
                    {{ formulario.nombre }}
                    <label for="{{ formulario.nombre.id_for_label }}">Nombre</label>
                  </div>
                </div>
            
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-floating mb-3">
                    {{ formulario.apellido }}
                    <label for="{{ formulario.apellido.id_for_label }}">Apellido</label>
                  </div>
                </div>
            
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-floating mb-3">
                    {{ formulario.cedula }}
                    <label for="{{ formulario.cedula.id_for_label }}">Cédula</label>
                  </div>
                </div>
            
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-floating mb-3">
                    {{ formulario.edad }}
                    <label for="{{ formulario.edad.id_for_label }}">Edad</label>
                  </div>
                </div>
            
                <div class="col-lg-12 col-md-12 col-12">
                  <div class="form-floating mb-3">
                    {{ formulario.tipo_estudiante }}
                    <label for="{{ formulario.tipo_estudiante.id_for_label }}">Tipo de Estudiante</label>
                  </div>
                </div>
            
                <div class="col-lg-4 col-12 ms-auto">
                  <button type="submit" class="form-control">Agregar</button>
                </div>
            
              </div>
            </form>
            
          </div>

      </div>
  </div>
</section>
{% endblock %}


