{% extends "master.html" %}
{% block title %}Detalle de Matrícula{% endblock %}
{% block content %}
<h3>Detalle de Matricula</h3>

<table border="1px" class="table table-striped table-hover table-bordered table-responsive">
  <tr>
    <th><b>Nombre</b></th>
    <th><b>Modulo</b></th>
    <th><b>Costo</b></th>
  </tr>
  <tr>
    <td>
      {{ matricula.estudiante.nombre }}
    </td>
    <td>
      {{ matricula.modulo.nombre }}
    </td>
    <td>
      {{ matricula.costo }}
    </td>
  </tr>
</table>

{% endblock %}