{% extends "master.html" %}
{% block title %}Detalle Estudiante{% endblock %}
{% block content %}
<h2>Detalle estudiante</h2>
<table border="1px" class="table table-striped table-hover table-bordered table-responsive">
  <tr>
    <th><b>Nombre</b></th>
    <td>{{ e.nombre }}</td>
  </tr>
  <tr>
    <th><b>Apellido</b></th>
    <td>{{ e.apellido }}</td>
  </tr>
  <tr>
    <th><b>Edad</b></th>
    <td>{{ e.edad }}</td>
  </tr>
  <tr>
    <th><b>Cédula</b></th>
    <td>{{ e.cedula }}</td>
  </tr>
  <tr>
    <th><b>Tipo de Estudiante</b></th>
    <td>{{ tipo_estudiante }}</td>
  </tr>
  <tr>
    <th><b>Costo de Matrículas</b></th>
    <td>${{costo_matriculas }}</td>
  </tr>
</table>
<table border="1px" class="table table-striped table-hover table-bordered table-responsive">
  <tr>
    <th><b>Módulo</b></th>
    <th><b>comentario</b></th>
  </tr>
  {% for m in e.obtener_matriculas %}
  <tr>
    <td>
      {{m.modulo.nombre}}
    </td>
    <td>
      {{m.comentario}}
    </td>
  </tr>
  {% endfor %}
</table>
</br>
{% endblock %}