{% extends "master.html" %}
{% block content %}
<hr>
<h3>Número de Matriculas {{ numero_matriculas }}</h3>
<hr>
<a href="{% url 'crear_matricula' %}" class="btn-matricula-azul mt-3">Crear Matricula</a>
<hr>
<table border="1px" class="table table-striped table-hover table-bordered table-responsive">
  <tr>
    <th><b>Estudiante</b></th>
    <th><b>Tipo de Estudiante</b></th>
    <th><b>Módulo</b></th>
    <th><b>Comentario</b></th>
    <th><b>Opciones</b></th>
  </tr>
  {% for e in matriculas %}
  <tr>
    <td>
      {{ e.estudiante.nombre }}
    </td>
    <td>
      {{ e.estudiante.get_tipo_estudiante_display }}
      <a href="{% url 'detalle_estudiante' e.estudiante.id %}"><i class="bi bi-eye"></i></a></td>
    <td>
      {{ e.modulo.nombre }}
    </td>
    <td>
      {{ e.comentario }}
    </td>
    <td>
      <a href="{% url 'detalle_matricula' e.id %}" class="btn-matricula-azul">ver</a>
      <a href="{% url 'editar_matricula' e.id %}" class="btn-matricula-azul">editar</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}




